<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Couses of Depression</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<h1>Couses of depression</h1>
<p>Depressive disorder (also known as depression) is a common mental disorder. It involves a depressed mood or loss of pleasure or interest in activities for long periods of time.

Depression is different from regular mood changes and feelings about everyday life. It can affect all aspects of life, including relationships with family, friends and community. It can result from or lead to problems at school and at work.

Depression can happen to anyone. People who have lived through abuse, severe losses or other stressful events are more likely to develop depression. Women are more likely to have depression than men.

An estimated 3.8% of the population experience depression, including 5% of adults (4% among men and 6% among women), and 5.7% of adults older than 60 years. Approximately 280 million people in the world have depression (1). Depression is about 50% more common among women than among men. Worldwide, more than 10% of pregnant women and women who have just given birth experience depression (2). More than 700 000 people die due to suicide every year. Suicide is the fourth leading cause of death in 15–29-year-olds.

Although there are known, effective treatments for mental disorders, more than 75% of people in low- and middle-income countries receive no treatment (3). Barriers to effective care include a lack of investment in mental health care, lack of trained health-care providers and social stigma associated with mental disorders</p>

{% endblock content %}
</body>
</html>