<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Treat</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<h1>How to treat</h1>
<p>There are effective treatments for depression. These include psychological treatment and medications. Seek care if you have symptoms of depression.

Psychological treatments are the first treatments for depression. They can be combined with antidepressant medications in moderate and severe depression. Antidepressant medications are not needed for mild depression.

Psychological treatments can teach new ways of thinking, coping or relating to others. They may include talk therapy with professionals and supervised lay therapists. Talk therapy can happen in person or online. Psychological treatments may be accessed through self-help manuals, websites and apps.

Effective psychological treatments for depression include:

behavioural activation
cognitive behavioural therapy
interpersonal psychotherapy
problem-solving therapy.
Antidepressant medications include selective serotonin reuptake inhibitors (SSRIs), such as fluoxetine.

Health-care providers should keep in mind the possible adverse effects associated with antidepressant medication, the ability to deliver either intervention (in terms of expertise, and/or treatment availability), and individual preferences.

Antidepressants should not be used for treating depression in children and are not the first line of treatment in adolescents, among whom they should be used with extra caution.

Different medications and treatments are used for bipolar disorder</p>
{% endblock content %}
</body>
</html>